@*
*
*  Copyright 2016 Oliver Dozsa
*
*  This program is free software: you can redistribute it and/or modify
*  it under the terms of the GNU General Public License as published by
*  the Free Software Foundation, either version 3 of the License, or
*  (at your option) any later version.
*
*  This program is distributed in the hope that it will be useful,
*  but WITHOUT ANY WARRANTY; without even the implied warranty of
*  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
*  GNU General Public License for more details.
*
*  You should have received a copy of the GNU General Public License
*  along with this program.  If not, see <http://www.gnu.org/licenses/>.
*
*
*@

@()

var SBR_MAN_RECIPE_NAME_STR_KEY          = "sbr_man_ren";
var SBR_MAN_NUMOF_INGS_MIN_KEY           = "sbr_man_nmi";
var SBR_MAN_NUMOF_INGS_MAX_KEY           = "sbr_man_nma";

var SBR_FRT_INCLUDED_TAG_SEARCH_MODE_KEY = "sbr_frt_its";
var SBR_FRT_INCLUDED_TAGS_KEY            = "sbr_frt_itg";
var SBR_FRT_EXCLUDED_TAGS_KEY            = "sbr_frt_etg";

var SBR_FIT_INCLUDED_TAG_SEARCH_MODE_KEY = "sbr_fit_its";
var SBR_FIT_INCLUDED_TAGS_KEY            = "sbr_fit_itg";
var SBR_FIT_EXCLUDED_TAGS_KEY            = "sbr_fit_etg";
