@*
 *
 *  Copyright 2016 Oliver Dozsa
 *
 *  This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *
 *
 *@

@import publicviews._
@import helper._

@main("Recipe Browser")("Recipe Browser"){
    <!-- Tagsinput CSS -->
    <link href = "@routes.Assets.versioned("stylesheets/tagsinput/bootstrap-tagsinput.css")" rel = "stylesheet">
    
    <!-- Typeahead bootstrap CSS -->
    <link href = "@routes.Assets.versioned("stylesheets/typeahead-bootstrap/typeahead.js-bootstrap.css")" rel = "stylesheet">
    
    <!-- Nouislider CSS -->
    <link href = "@routes.Assets.versioned("stylesheets/nouislider/nouislider.min.css")" rel = "stylesheet">
    
    
    <!-- Typeahead JS -->
    <script src = "@routes.Assets.versioned("javascripts/typeahead/typeahead.bundle.min.js")"></script>
    
    <!-- Tagsinput JS -->
    <script src = "@routes.Assets.versioned("javascripts/tagsinput/bootstrap-tagsinput-full.js")"></script>
    
    <!-- Storage API JS -->
    <script src = "@routes.Assets.versioned("javascripts/storageapi/jquery.storageapi.min.js")"></script>
    
    <!-- Nouislider JS -->
    <script src = "@routes.Assets.versioned("javascripts/nouislider/nouislider.min.js")"></script>
}{
    <h1>Recipe Browser</h1>
    
    @menutab("sbr")
    <div class = "or-page-content">
    
        @form(controllers.publicly.routes.RecipeBrowser.exec_searchByRecipeProperties(), 'role -> "form", 'id -> "or-rec-browser-sbr-form") {
            
            <h3>Search by Recipe Properties</h3>
            
            <div class = "row">
                <div class = "col-xs-12 form-group">
                    <label>Recipe Name</label>
                    <input type = "text" class = "form-control"  id = "or-rec-browser-sbr-rec-name-input">
                </div>
            </div>
            
            <div class = "row">
                <div class = "col-xs-12 form-group">
                    <label>Number of ingredients</label>
                    <div id = "or-rec-browser-sbr-num-of-ings-range"></div>

                    <div class = "row">
                        <div class = "form-group">
                            <div class = "pull-left col-xs-2">
                                <label>Min</label>
                                <input type = "text" class = "form-control input-sm"  id = "or-rec-browser-sbr-num-of-ings-range-min">
                            </div>

                            <div class = "pull-right col-xs-2">
                                <label>Max</label>
                                <input type = "text" class = "form-control input-sm"  id = "or-rec-browser-sbr-num-of-ings-range-max">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            
            <h4>Filter search results by recipe tags</h4>
            
            <div class = "row">
                <div class = "col-xs-12 form-group">
                    <label>Included tags</label>
                    <input type = "text" class = "form-control"  id = "or-rec-browser-sbr-included-rec-tags">
                </div>
            </div>
            
            <div class = "row">
                <div class = "col-xs-12 form-group pull-left">

                    <label class = "radio-inline">
                        <input type = "radio" name = "or-rec-browser-sbr-included-rec-tags-option" id = "or-rec-browser-sbr-included-rec-tags-option-default" value = "2">
                        At least containing these tags.
                    </label>

                    <label class = "radio-inline">
                        <input type = "radio" name = "or-rec-browser-sbr-included-rec-tags-option" value = "3">
                        Contains any of these.
                    </label>

                    <label class = "radio-inline">
                        <input type = "radio" name = "or-rec-browser-sbr-included-rec-tags-option" id = "or-rec-browser-sbr-included-rec-tags-option-group-mode" value = "4">
                        Group mode.
                    </label>
                </div>
            </div>
            
            <div class = "or-vertical-space">
            </div>

            <div class = "row">
                <div class = "col-xs-12 form-group">
                    <label>Excluded tags</label>
                    <input type = "text" class = "form-control"  id = "or-rec-browser-sbr-excluded-rec-tags">
                </div>
            </div>
            
            
            <h4>Filter search results by ingredient tags</h4>
            
            <div class = "row">
                <div class = "col-xs-12 form-group">
                    <label>Included tags</label>
                    <input type = "text" class = "form-control"  id = "or-rec-browser-sbr-included-ing-tags">
                </div>
            </div>

            <div class = "row">
                <div class = "col-xs-12 form-group pull-left">

                    <label class = "radio-inline">
                        <input type = "radio" name = "or-rec-browser-sbr-included-ing-tags-option" id = "or-rec-browser-sbr-included-ing-tags-option-default" value = "2">
                        At least containing these tags.
                    </label>

                    <label class = "radio-inline">
                        <input type = "radio" name = "or-rec-browser-sbr-included-ing-tags-option" value = "3">
                        Contains any of these.
                    </label>

                    <label class = "radio-inline">
                        <input type = "radio" name = "or-rec-browser-sbr-included-ing-tags-option" id = "or-rec-browser-sbr-included-ing-tags-option-group-mode" value = "4">
                        Group mode.
                    </label>
                </div>
            </div>

            <div class = "or-vertical-space">
            </div>

            <div class = "row">
                <div class = "col-xs-12 form-group">
                    <label>Excluded tags</label>
                    <input type = "text" class = "form-control"  id = "or-rec-browser-sbr-excluded-ing-tags">
                </div>
            </div>
            
            <div class = "row">
                <div class = "col-xs-2 form-group pull-right">
                    <label style = "visibility: hidden;">Search</label>
                    <button type = "button" class = "form-control btn btn-primary" id = "or-rec-browser-sbr-search">Search recipes</button>
                </div>
            </div>

            <input id = "or-rec-browser-sbr-form-nam" type = "hidden" name = "nam" />
            <input id = "or-rec-browser-sbr-form-lan" type = "hidden" name = "srl" />
            <input id = "or-rec-browser-sbr-form-mnk" type = "hidden" name = "mnk" />
            <input id = "or-rec-browser-sbr-form-mxk" type = "hidden" name = "mxk" />
            <input id = "or-rec-browser-sbr-form-inr" type = "hidden" name = "inr" />
            <input id = "or-rec-browser-sbr-form-exr" type = "hidden" name = "exr" />
            <input id = "or-rec-browser-sbr-form-ini" type = "hidden" name = "ini" />
            <input id = "or-rec-browser-sbr-form-exi" type = "hidden" name = "exi" />
            <input id = "or-rec-browser-sbr-form-irm" type = "hidden" name = "irm" />
            <input id = "or-rec-browser-sbr-form-iim" type = "hidden" name = "iim" />
            <input id = "or-rec-browser-sbr-form-mni" type = "hidden" name = "mni" />
            <input id = "or-rec-browser-sbr-form-mxn" type = "hidden" name = "mxn" />
        }
        
        <div class = "dropdown clearfix or-context-menu" id = 'or-rec-browser-tags-context-menu'>
            <ul class = "dropdown-menu" role = "menu" aria-labelledby = "or-context-menu" style = "display:block;position:static;margin-bottom:5px;">
                <li><a id = "or-rec-browser-tags-context-menu-group-A" tabindex="-1" href="#"> <span id = "or-rec-browser-tags-context-menu-group-A-tick" class = "glyphicon glyphicon-ok"></span> Group A<span class = 'or-context-menu-value'>A</span></a></li>
                <li><a id = "or-rec-browser-tags-context-menu-group-B" tabindex="-1" href="#"> <span id = "or-rec-browser-tags-context-menu-group-B-tick" class = "glyphicon glyphicon-ok"></span> Group B<span class = 'or-context-menu-value'>B</span></a></li>
                <li><a id = "or-rec-browser-tags-context-menu-group-C" tabindex="-1" href="#"> <span id = "or-rec-browser-tags-context-menu-group-C-tick" class = "glyphicon glyphicon-ok"></span> Group C<span class = 'or-context-menu-value'>C</span></a></li>
                <li><a id = "or-rec-browser-tags-context-menu-group-D" tabindex="-1" href="#"> <span id = "or-rec-browser-tags-context-menu-group-D-tick" class = "glyphicon glyphicon-ok"></span> Group D<span class = 'or-context-menu-value'>D</span></a></li>
                <li><a id = "or-rec-browser-tags-context-menu-group-E" tabindex="-1" href="#"> <span id = "or-rec-browser-tags-context-menu-group-E-tick" class = "glyphicon glyphicon-ok"></span> Group E<span class = 'or-context-menu-value'>E</span></a></li>
                <li><a id = "or-rec-browser-tags-context-menu-group-F" tabindex="-1" href="#"> <span id = "or-rec-browser-tags-context-menu-group-F-tick" class = "glyphicon glyphicon-ok"></span> Group F<span class = 'or-context-menu-value'>F</span></a></li>
            </ul>
        </div>
    
    </div>
    
    <script>
        $(document).ready
        (       
            function()
            {
            	@utils_js()
                
                /* -- SEARCH BY RECIPE PROPERTIES INIT ---------- */
                
                /* -- Number of ingredients --------------------- */

                var maxNumOfIngs = @Recipe.MAX_NUM_OF_INGREDIENTS;

                noUiSlider.create
                (
            		document.getElementById("or-rec-browser-sbr-num-of-ings-range"),
                    {
                        range: {"min": 0, "max": (maxNumOfIngs + 1)},
                        start: [0, maxNumOfIngs / 2],
                        connect: true,
                        step: 1
                    }
                );
                
                var numOfIngsSlider = document.getElementById("or-rec-browser-sbr-num-of-ings-range");
                var minNumIngInput  = document.getElementById('or-rec-browser-sbr-num-of-ings-range-min');
                var maxNumIngInput  = document.getElementById('or-rec-browser-sbr-num-of-ings-range-max');

                numOfIngsSlider.noUiSlider.on
                (
            		'update',
            		function(values, handle)
                    {
                        var value = values[handle];
    
                        if(handle)
                        {
                        	maxNumIngInput.value = Math.round(value);
                        }
                        else
                        {
                        	minNumIngInput.value = Math.round(value);
                        }
                    }
        		);

                minNumIngInput.addEventListener
                (
                    'change', 
                    function()
                    {
                    	numOfIngsSlider.noUiSlider.set([null, this.value]);
                    }
                );
                
                maxNumIngInput.addEventListener
                (
                    'change', 
                    function()
                    {
                        numOfIngsSlider.noUiSlider.set([null, this.value]);
                    }
                );
                
                
                /* -- Init filter by recipe tags ---------------- */

                /* Included. */
                
                /* Bloodhound init. */
                var incRecipeTagsBH = new Bloodhound
                ({
                    remote: 
                    {
                        url: "@controllers.publicly.routes.RecipeBrowser.recipeTags("")?q=%QUERY",
                        wildcard: "%QUERY"
                    },
                    queryTokenizer: Bloodhound.tokenizers.whitespace,
                    datumTokenizer: Bloodhound.tokenizers.whitespace
                });
                
                incRecipeTagsBH.initialize();
                
                /* Tags input init. */
                $('#or-rec-browser-sbr-included-rec-tags').tagsinput
                (
                    {
                        itemValue: "id",
                        itemText:  "text",
                        tagId:     'or-rec-browser-sbr-included-rec-tag-',
                        tagClass:  determineClass,
                        typeaheadjs:
                        {
                            source: incRecipeTagsBH.ttAdapter(),
                            displayKey: "value",
                            valueKey: "value"
                        }
                    }
                );
                
                /* Tagsinput automatically listens to typeahead:selected. Turn it off and use our custom solution. */
                $('#or-rec-browser-sbr-included-rec-tags').tagsinput('input').off("typeahead:selected");
                
                $('#or-rec-browser-sbr-included-rec-tags').tagsinput('input')
                .on
                (
                    'typeahead:select',
                    $.proxy
                    (
                        function (obj, data)
                        {
                            addItem(data, $('#or-rec-browser-sbr-included-rec-tags'), $('#or-rec-browser-sbr-excluded-rec-tags'), $('#or-rec-browser-sbr-included-rec-tags-option-group-mode'));
                            
                            this.tagsinput('input').typeahead('val', '');
                        },
                        $('#or-rec-browser-sbr-included-rec-tags')
                    )
                );

                /* Excluded. */
                
                /* Bloodhound init. */
                var excRecipeTagsBH = new Bloodhound
                ({
                    remote: 
                    {
                        url: "@controllers.publicly.routes.RecipeBrowser.recipeTags("")?q=%QUERY",
                        wildcard: "%QUERY"
                    },
                    queryTokenizer: Bloodhound.tokenizers.whitespace,
                    datumTokenizer: Bloodhound.tokenizers.whitespace
                });
                
                excRecipeTagsBH.initialize();
                
                /* Tags input init. */
                $('#or-rec-browser-sbr-excluded-rec-tags').tagsinput
                (
                    {
                        itemValue: "id",
                        itemText:  "text",
                        tagId:     'or-rec-browser-sbr-excluded-rec-tag-',
                        typeaheadjs:
                        {
                            source: excRecipeTagsBH.ttAdapter(),
                            displayKey: "value",
                            valueKey: "value"
                        }
                    }
                );
                
                /* Tagsinput automatically listens to typeahead:selected. Turn it off and use our custom solution. */
                $('#or-rec-browser-sbr-excluded-rec-tags').tagsinput('input').off("typeahead:selected");
                
                $('#or-rec-browser-sbr-excluded-rec-tags').tagsinput('input')
                .on
                (
                    'typeahead:select',
                    $.proxy
                    (
                        function (obj, data)
                        {
                        	addItem(data, $('#or-rec-browser-sbr-excluded-rec-tags'), $('#or-rec-browser-sbr-included-rec-tags'), $('#or-rec-browser-sbr-included-rec-tags-option-group-mode'));
                            
                            this.tagsinput('input').typeahead('val', '');
                        },
                        $('#or-rec-browser-sbr-excluded-rec-tags')
                    )
                );

                /* Make sure not group mode is selected as default. */
                $('#or-rec-browser-sbr-included-rec-tags-option-default').prop("checked", true);
                
                
                /* -- Group mode handling -------------------------- */

                $('input:radio[name="or-rec-browser-sbr-included-rec-tags-option"]').change
                (
                    function()
                    {
                        if($(this).is(':checked') && $(this).val() == '4')
                        {
                            groupModeOn($('#or-rec-browser-sbr-included-rec-tags'));
                        }
                        else
                        {
                            groupModeOff($('#or-rec-browser-sbr-included-rec-tags'));
                        }
                    }
                );

                $(document).click
                (
                    function()
                    {
                        $('#or-rec-browser-tags-context-menu').hide();
                    }
                );
                
                
                
                /* -- Init filter by ingredient tags ------------ */

                /* Included. */
                
                /* Bloodhound init. */
                var incIngTagsBH = new Bloodhound
                ({
                    remote: 
                    {
                        url: "@controllers.publicly.routes.RecipeBrowser.ingredientTags("")?q=%QUERY",
                        wildcard: "%QUERY"
                    },
                    queryTokenizer: Bloodhound.tokenizers.whitespace,
                    datumTokenizer: Bloodhound.tokenizers.whitespace
                });
                
                incIngTagsBH.initialize();
                
                /* Tags input init. */
                $('#or-rec-browser-sbr-included-ing-tags').tagsinput
                (
                    {
                        itemValue: "id",
                        itemText:  "text",
                        tagId:     'or-rec-browser-sbr-included-ing-tag-',
                        tagClass:  determineClass,
                        typeaheadjs:
                        {
                            source: incIngTagsBH.ttAdapter(),
                            displayKey: "value",
                            valueKey: "value"
                        }
                    }
                );
                
                /* Tagsinput automatically listens to typeahead:selected. Turn it off and use our custom solution. */
                $('#or-rec-browser-sbr-included-ing-tags').tagsinput('input').off("typeahead:selected");

                /* Init typeahead. */
                $('#or-rec-browser-sbr-included-ing-tags').tagsinput('input')
                .on
                (
                    'typeahead:select',
                    $.proxy
                    (
                        function (obj, data)
                        {
                            addItem(data, $('#or-rec-browser-sbr-included-ing-tags'), $('#or-rec-browser-sbr-excluded-ing-tags'), $('#or-rec-browser-sbr-included-ing-tags-option-group-mode'));

                            this.tagsinput('input').typeahead('val', '');
                        },
                        $('#or-rec-browser-sbr-included-ing-tags')
                    )
                );

                /* Excluded. */
                
                /* Bloodhound init. */
                var excIngTagsBH = new Bloodhound
                ({
                    remote: 
                    {
                        url: "@controllers.publicly.routes.RecipeBrowser.ingredientTags("")?q=%QUERY",
                        wildcard: "%QUERY"
                    },
                    queryTokenizer: Bloodhound.tokenizers.whitespace,
                    datumTokenizer: Bloodhound.tokenizers.whitespace
                });
                
                excIngTagsBH.initialize();
                
                /* Tags input init. */
                $('#or-rec-browser-sbr-excluded-ing-tags').tagsinput
                (
                    {
                        itemValue: "id",
                        itemText:  "text",
                        tagId:     'or-rec-browser-sbr-excluded-ing-tag-',
                        typeaheadjs:
                        {
                            source: excIngTagsBH.ttAdapter(),
                            displayKey: "value",
                            valueKey: "value"
                        }
                    }
                );
                
                /* Tagsinput automatically listens to typeahead:selected. Turn it off and use our custom solution. */
                $('#or-rec-browser-sbr-excluded-ing-tags').tagsinput('input').off("typeahead:selected");

                /* Init typeahead. */
                $('#or-rec-browser-sbr-excluded-ing-tags').tagsinput('input')
                .on
                (
                    'typeahead:select',
                    $.proxy
                    (
                        function (obj, data)
                        {
                            addItem(data, $('#or-rec-browser-sbr-excluded-ing-tags'), $('#or-rec-browser-sbr-included-ing-tags'), $('#or-rec-browser-sbr-included-ing-tags-option-group-mode'));

                            this.tagsinput('input').typeahead('val', '');
                        },
                        $('#or-rec-browser-sbr-excluded-ing-tags')
                    )
                );

                /* Make sure not group mode is selected as default. */
                $('#or-rec-browser-sbr-included-ing-tags-option-default').prop("checked", true);



                /* -- Group mode handling -------------------------- */

                $('input:radio[name="or-rec-browser-sbr-included-ing-tags-option"]').change
                (
                    function()
                    {
                        if($(this).is(':checked') && $(this).val() == '4')
                        {
                            groupModeOn($('#or-rec-browser-sbr-included-ing-tags'));
                        }
                        else
                        {
                            groupModeOff($('#or-rec-browser-sbr-included-ing-tags'));
                        }
                    }
                );

                $(document).click
                (
                    function()
                    {
                        $('#or-rec-browser-tags-context-menu').hide();
                    }
                );
                
                
                /* -- FORM SUBMISSION --------------------------- */
                
                $("#or-rec-browser-sbr-search").click
                (
                    function()
                    {
                    	/* Collect data. */
                        var searchName  = $("#or-rec-browser-sbr-rec-name-input").val();
                        var noiValues   = $('#or-rec-browser-sbr-num-of-ings-range').val();
                        var incRecTags  = "";
                        var excRecTags  = "";
                        var incIngTags  = "";
                        var excIngTags  = "";
                        
                        var items;
                        var i;
                        var j;
                        
                        /* Included recipe tags. */
                        items = $('#or-rec-browser-sbr-included-rec-tags').tagsinput('items');

                        if(items != undefined && items.length > 0)
                        {
                            for(i = 0; i < items.length - 1; i++)
                            {
                                for(j = 0; j < validGroups.length; j++)
                                {
                                    if(items[i].groups[validGroups[j]])
                                    {
                                        incRecTags += validGroups[j] + ":";
                                    }
                                }
                                
                                incRecTags += items[i].id + ",";
                            }
                            
                            for(j = 0; j < validGroups.length; j++)
                            {
                                if(items[i].groups[validGroups[j]])
                                {
                                    incRecTags += validGroups[j] + ":";
                                }
                            }

                            incRecTags += items[i].id;
                        }
                        
                        /* Excluded recipe tags. */
                        items = $('#or-rec-browser-sbr-excluded-rec-tags').tagsinput('items');

                        if(items != undefined && items.length > 0)
                        {
                            for(i = 0; i < items.length - 1; i++)
                            {
                                excRecTags += items[i].id + ",";
                            }

                            excRecTags += items[i].id;
                        }
                        
                        
                        
                        /* Included ingredient tags. */
                        items = $('#or-rec-browser-sbr-included-ing-tags').tagsinput('items');

                        if(items != undefined && items.length > 0)
                        {
                            for(i = 0; i < items.length - 1; i++)
                            {
                                for(j = 0; j < validGroups.length; j++)
                                {
                                    if(items[i].groups[validGroups[j]])
                                    {
                                        incIngTags += validGroups[j] + ":";
                                    }
                                }
                                
                                incIngTags += items[i].id + ",";
                            }
                            
                            for(j = 0; j < validGroups.length; j++)
                            {
                                if(items[i].groups[validGroups[j]])
                                {
                                    incIngTags += validGroups[j] + ":";
                                }
                            }

                            incIngTags += items[i].id;
                        }


                        /* Excluded ingredient tags. */
                        items = $('#or-rec-browser-sbr-excluded-ing-tags').tagsinput('items');

                        if(items != undefined && items.length > 0)
                        {
                            for(i = 0; i < items.length - 1; i++)
                            {
                                excIngTags += items[i].id + ",";
                            }

                            excIngTags += items[i].id;
                        }
                        
                        
                        /* Set search params. */
                        $("#or-rec-browser-sbr-form-nam").val(searchName);
                        $("#or-rec-browser-sbr-form-mni").val(noiValues[0]);
                        $("#or-rec-browser-sbr-form-mxn").val(noiValues[1]);

                        $("#or-rec-browser-sbr-form-inr").val(incRecTags);
                        $("#or-rec-browser-sbr-form-exr").val(excRecTags);
                        $("#or-rec-browser-sbr-form-ini").val(incIngTags);
                        $("#or-rec-browser-sbr-form-exi").val(excIngTags);

                        var irmVal = $('input:radio[name="or-rec-browser-sbr-included-rec-tags-option"]:checked').val();
                        var iimVal = $('input:radio[name="or-rec-browser-sbr-included-ing-tags-option"]:checked').val();

                        $("#or-rec-browser-sbr-form-irm").val(irmVal);
                        $("#or-rec-browser-sbr-form-iim").val(iimVal);

                        /* Submit form. */
                        $('#or-rec-browser-sbr-form').submit();
                    }
                );
                
                /* Parameter keys. */
                @searchByRecipeProperties_paramsKeys()

                /* Load cached params if necessary. */
                @searchByRecipeProperties_loadCachedParams()

                /* Registering cached params updaters. */
                @searchByRecipeProperties_updateCachedParams()
            }
        );
    </script>
}