@*
 *
 *  Copyright 2016 Oliver Dozsa
 *
 *  This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *
 *
 *@

@import publicviews._
@import helper._

@main("Recipe Browser")("Recipe Browser"){

    <!-- Tagsinput CSS -->
    <link href = "@routes.Assets.versioned("stylesheets/tagsinput/bootstrap-tagsinput.css")" rel = "stylesheet">
    
    <!-- Typeahead bootstrap CSS -->
    <link href = "@routes.Assets.versioned("stylesheets/typeahead-bootstrap/typeahead.js-bootstrap.css")" rel = "stylesheet">
    
    
    <!-- Typeahead JS -->
    <script src = "@routes.Assets.versioned("javascripts/typeahead/typeahead.bundle.min.js")"></script>
    
    <!-- Tagsinput JS -->
    <script src = "@routes.Assets.versioned("javascripts/tagsinput/bootstrap-tagsinput-full.js")"></script>
    
    <!-- Storage API JS -->
    <script src = "@routes.Assets.versioned("javascripts/storageapi/jquery.storageapi.min.js")"></script>
}{
    <h1>Recipe Browser</h1>
    
    @menutab("sbi")
    
    <div class = "or-page-content">
    
        @form(controllers.publicly.routes.RecipeBrowser.exec_searchByIngredients(), 'role -> "form", 'id -> "or-rec-browser-sbi-form") {
            
            <h3>Search by ingredients</h3>
            
            <div class = "row">
                <div class = "col-sm-9 form-group">
                    <label>Included ingredients</label>
                    <input type = "text" class = "form-control" id = "or-rec-browser-sbi-included-ing-input">
                </div>
                
                <div class = "col-sm-3 form-group">
                    <label>Search language</label>
                    <select class = "form-control" id = "or-rec-browser-sbi-included-ing-language">
                        @for(lan <- Language.find.all()){
                            <option value = "@lan.id">@getMessageByLanguage("language." + lan.isoName)</option>
                        }
                    </select>
                </div>
            </div>
            
            <div class = "row">
                <div class = "col-sm-12 form-group pull-left">
                    <label class = "radio-inline">
                        <input type = "radio" name = "srm" id = "or-rec-browser-default-search-option" value = "1">
                        Exactly containing these ingredients.
                    </label>
                    
                    <label class = "radio-inline">
                        <input type = "radio" name = "srm" value = "2">
                        At least containing these ingredients.
                    </label>
                    
                    <label class = "radio-inline">
                        <input type = "radio" name = "srm" value = "3">
                        Contains any of these.
                    </label>
                    
                    <label class = "radio-inline">
                        <input type = "radio" name = "srm" id = "or-rec-browser-group-mode-search-option" value = "4">
                        Group mode.
                    </label>
                </div>
            </div>
            
            <div class = "or-vertical-space">
            </div>
            
            <div class = "row">
                <div class = "col-sm-9 form-group">
                    <label>Excluded ingredients</label>
                    <input type = "text" class = "form-control"  id = "or-rec-browser-sbi-excluded-ing-input">
                </div>
                
                <div class = "col-sm-3 form-group">
                    <label>Search language</label>
                    <select class = "form-control" id = "or-rec-browser-sbi-excluded-ing-language">
                        @for(lan <- Language.find.all()){
                            <option value = "@lan.id">@getMessageByLanguage("language." + lan.isoName)</option>
                        }
                    </select>
                </div>
            </div>
            
            <h4>Search for ingredients by tags</h4>
    
            <div class = "row">
                <div class = "col-sm-8 form-group">
                    <label>Search</label>
                    <input type = "text" class = "form-control"  id = "or-rec-browser-sbi-search-ing-tags">
                </div>
    
                <div class = "col-sm-2 form-group">
                    <label>Results language</label>
                    <select class = "form-control" id = "or-rec-browser-sbi-search-ing-tags-language">
                        @for(lan <- Language.find.all()){
                            <option value = "@lan.id">@getMessageByLanguage("language." + lan.isoName)</option>
                        }
                    </select>
                </div>
    
                <div class = "col-sm-2 form-group">
                    <label>Relation</label>
                    <select class = "form-control" id = "or-rec-browser-sbi-search-ing-tags-rel-select">
                        <option value = "and">AND</option>
                        <option value = "or">OR</option>
                    </select>
                </div>
            </div>
            
            <h5>Search Results</h5>
            <div class = "row">
                <div id = "or-rec-browser-sbi-search-ing-results" class = "col-sm-12 form-group">
                </div>
            </div>
            
            <div class = "row">
                <div class = "col-sm-2">
                    <label style = "visibility: hidden;">Select all</label>
                    <button type = "button" class = "btn btn-block btn-default" id = "or-rec-browser-sbi-search-ing-btn-select-all">Select all</button>
                </div>
    
                <div class = "col-sm-2">
                    <label style = "visibility: hidden;">Exclude</label>
                    <button type = "button" class = "btn btn-block btn-default" id = "or-rec-browser-sbi-search-ing-btn-exclude">Exclude selected</button>
                </div>
    
                <div class = "col-sm-2">
                    <label style = "visibility: hidden;">Include</label>
                    <button type = "button" class = "btn btn-block btn-default" id = "or-rec-browser-sbi-search-ing-btn-include">Include selected</button>
                </div>
            </div>
            
            <div class = "row">
                <div class = "col-sm-2 form-group pull-right">
                    <label style = "visibility: hidden;">Search</label>
                    <button type = "button" class = "form-control btn btn-primary" id = "or-rec-browser-sbi-search">Search recipes</button>
                </div>
            </div>
            
            <input id = "or-rec-browser-sbi-form-inc-ing" type = "hidden" name = "ini" />
            <input id = "or-rec-browser-sbi-form-exc-ing" type = "hidden" name = "exi" />
            <input id = "or-rec-browser-sbi-form-sch-lan" type = "hidden" name = "srl" />
        }
        
        <div class = "dropdown clearfix or-context-menu" id = 'or-rec-browser-tags-context-menu'>
            <ul class = "dropdown-menu" role = "menu" aria-labelledby = "or-context-menu" style = "display:block;position:static;margin-bottom:5px;">
                <li><a id = "or-rec-browser-tags-context-menu-group-A" tabindex="-1" href="#"> <span id = "or-rec-browser-tags-context-menu-group-A-tick" class = "glyphicon glyphicon-ok"></span> Group A<span class = 'or-context-menu-value'>A</span></a></li>
                <li><a id = "or-rec-browser-tags-context-menu-group-B" tabindex="-1" href="#"> <span id = "or-rec-browser-tags-context-menu-group-B-tick" class = "glyphicon glyphicon-ok"></span> Group B<span class = 'or-context-menu-value'>B</span></a></li>
                <li><a id = "or-rec-browser-tags-context-menu-group-C" tabindex="-1" href="#"> <span id = "or-rec-browser-tags-context-menu-group-C-tick" class = "glyphicon glyphicon-ok"></span> Group C<span class = 'or-context-menu-value'>C</span></a></li>
                <li><a id = "or-rec-browser-tags-context-menu-group-D" tabindex="-1" href="#"> <span id = "or-rec-browser-tags-context-menu-group-D-tick" class = "glyphicon glyphicon-ok"></span> Group D<span class = 'or-context-menu-value'>D</span></a></li>
                <li><a id = "or-rec-browser-tags-context-menu-group-E" tabindex="-1" href="#"> <span id = "or-rec-browser-tags-context-menu-group-E-tick" class = "glyphicon glyphicon-ok"></span> Group E<span class = 'or-context-menu-value'>E</span></a></li>
                <li><a id = "or-rec-browser-tags-context-menu-group-F" tabindex="-1" href="#"> <span id = "or-rec-browser-tags-context-menu-group-F-tick" class = "glyphicon glyphicon-ok"></span> Group F<span class = 'or-context-menu-value'>F</span></a></li>
            </ul>
        </div>
    
    </div>
    
    <script>
        $(document).ready
        (
            function()
            {
            	@utils_js()
            	
            	/* -- SEARCH BY INGREDIENTS INIT ---------------- */
                
                
                /* Included. */
                
                /* Bloodhound init. */
                var incIngredientsBH = new Bloodhound
                ({
                    remote: 
                    {
                        url: "@controllers.publicly.routes.RecipeBrowser.ingredients("")?q=" + "%QUERY" + "&l=" + $('#or-rec-browser-sbi-included-ing-language').val(),
                        wildcard: "%QUERY"
                    },
                    queryTokenizer: Bloodhound.tokenizers.whitespace,
                    datumTokenizer: Bloodhound.tokenizers.whitespace
                });
                
                incIngredientsBH.initialize();
                
                /* Tags input init. */
                $('#or-rec-browser-sbi-included-ing-input').tagsinput
                (
                    {
                        itemValue: "id",
                        itemText:  "text",
                        tagId:     'or-rec-browser-sbi-included-ing-',
                        tagClass:  determineClass,
                        typeaheadjs:
                        {
                            source: incIngredientsBH.ttAdapter(),
                            displayKey: "value",
                            valueKey: "value"
                        }
                    }
                );
                
                /* Tagsinput automatically listens to typeahead:selected. Turn it off and use our custom solution. */
                $('#or-rec-browser-sbi-included-ing-input').tagsinput('input').off("typeahead:selected");
                
                $('#or-rec-browser-sbi-included-ing-input').tagsinput('input')
                .on
                (
                    'typeahead:select',
                    $.proxy
                    (
                        function (obj, data)
                        {
                            addItem(data, $('#or-rec-browser-sbi-included-ing-input'), $('#or-rec-browser-sbi-excluded-ing-input'), $('#or-rec-browser-group-mode-search-option'));
                            
                            this.tagsinput('input').typeahead('val', '');
                        },
                        $('#or-rec-browser-sbi-included-ing-input')
                    )
                );
                
                /* Excluded. */
                
                /* Bloodhound init. */
                var excIngredientsBH = new Bloodhound
                ({
                    remote: 
                    {
                        url: "@controllers.publicly.routes.RecipeBrowser.ingredients("")?q=" + "%QUERY" + "&l=" + $('#or-rec-browser-sbi-excluded-ing-language').val(),
                        wildcard: "%QUERY"
                    },
                    queryTokenizer: Bloodhound.tokenizers.whitespace,
                    datumTokenizer: Bloodhound.tokenizers.whitespace
                });
                
                excIngredientsBH.initialize();
                
                /* Tags input init. */
                $('#or-rec-browser-sbi-excluded-ing-input').tagsinput
                (
                    {
                        itemValue: "id",
                        itemText:  "text",
                        typeaheadjs:
                        {
                            source: excIngredientsBH.ttAdapter(),
                            displayKey: "value",
                            valueKey: "value"
                        }
                    }
                );
                
                /* Tagsinput automatically listens to typeahead:selected. Turn it off and use our custom solution. */
                $('#or-rec-browser-sbi-excluded-ing-input').tagsinput('input').off("typeahead:selected");
                
                $('#or-rec-browser-sbi-excluded-ing-input').tagsinput('input')
                .on
                (
                    'typeahead:select',
                    $.proxy
                    (
                        function (obj, data)
                        {
                            addItem(data, $('#or-rec-browser-sbi-excluded-ing-input'), $('#or-rec-browser-sbi-included-ing-input'), $('#or-rec-browser-group-mode-search-option'));
                            
                            this.tagsinput('input').typeahead('val', '');
                        },
                        $('#or-rec-browser-sbi-excluded-ing-input')
                    )
                );
            	
            	/* Make sure not group mode is selected as default. */
                $('#or-rec-browser-default-search-option').prop("checked", true);
            	
                /* -- Group mode handling -------------------------- */
                
                $('input:radio[name="srm"]').change
                (
                    function()
                    {   
                        if($(this).is(':checked') && $(this).val() == '4')
                        {
                            groupModeOn($('#or-rec-browser-sbi-included-ing-input'));
                        }
                        else
                        {
                            groupModeOff($('#or-rec-browser-sbi-included-ing-input'));
                        }
                    }
                );
                
                $(document).click
                (
                    function()
                    {
                        $('#or-rec-browser-tags-context-menu').hide();
                    }
                );
                
                
                /* -- INIT SEARCH BY TAGS -------------------------- */

                /* Used to check whether interaction is disabled, or not. */
                var interActionDisabled = false;

                function disableInterAction()
                {
                    /* Disable all form elements to prevent user interaction. */
                    interActionDisabled = true;

                    /* Disable input to prevent sending another request while the previous one is still processed. */
                    $('#or-rec-browser-sbi-search-ing-tags').tagsinput('input').prop('disabled', true);

                    $('#or-rec-browser-sbi-search-ing-tags-language').prop('disabled', true);
                    $('#or-rec-browser-sbi-search-ing-tags-rel-select').prop('disabled', true);

                    /* Buttons */
                    $('#or-rec-browser-sbi-search-ing-btn-select-all').prop('disabled', true);
                    $('#or-rec-browser-sbi-search-ing-btn-exclude').prop('disabled', true);
                    $('#or-rec-browser-sbi-search-ing-btn-include').prop('disabled', true);
                }

                function enableInterAction()
                {
                    /* Enable interaction again. */
                    $('#or-rec-browser-sbi-search-ing-tags').tagsinput('input').prop('disabled', false);

                    $('#or-rec-browser-sbi-search-ing-tags-language').prop('disabled', false);
                    $('#or-rec-browser-sbi-search-ing-tags-rel-select').prop('disabled', false);

                    /* Buttons */
                    $('#or-rec-browser-sbi-search-ing-btn-select-all').prop('disabled', false);
                    $('#or-rec-browser-sbi-search-ing-btn-exclude').prop('disabled', false);
                    $('#or-rec-browser-sbi-search-ing-btn-include').prop('disabled', false);

                    interActionDisabled = false;
                }
                
                /* Button clicks. */
                var selectedAll = false;

                $('#or-rec-browser-sbi-search-ing-btn-select-all').click
                (
                    function()
                    {
                        if(!interActionDisabled)
                        {
                            if(!selectedAll)
                            {
                                $(this).text("Deselect all");
                            }
                            else
                            {
                                $(this).text("Select all");
                            }

                            selectedAll = !selectedAll;

                            $('.or-rec-browser-sbi-search-ing-tags-result-ing').each
                            (
                                function()
                                {
                                    if(selectedAll && $(this).hasClass('label-info'))
                                    {
                                        toggleSearchSearchResult($(this));
                                    }

                                    if(!selectedAll && $(this).hasClass('label-warning'))
                                    {
                                        toggleSearchSearchResult($(this));
                                    }
                                }
                            );
                        }
                    }
                );
                
                $('#or-rec-browser-sbi-search-ing-btn-exclude').click
                (
                    function()
                    {
                        if(!interActionDisabled)
                        {
                            $('.or-rec-browser-sbi-search-ing-tags-result-ing').each
                            (
                                function()
                                {
                                    if($(this).hasClass('label-warning'))
                                    {
                                        toggleSearchSearchResult($(this));

                                        var idStr = $(this).attr('id');

                                        var item = {};

                                        item.id    = $(this).attr('id').split("or-rec-browser-sbi-search-ing-tags-result-ing-")[1];
                                        item.value = $(this).text();

                                        addItem(item, $('#or-rec-browser-sbi-excluded-ing-input'), $('#or-rec-browser-sbi-included-ing-input'), $('#or-rec-browser-group-mode-search-option'));
                                    }
                                }
                            );
                        }
                    }
                );

                $('#or-rec-browser-sbi-search-ing-btn-include').click
                (
                    function()
                    {
                        if(!interActionDisabled)
                        {
                            $('.or-rec-browser-sbi-search-ing-tags-result-ing').each
                            (
                                function()
                                {
                                    if($(this).hasClass('label-warning'))
                                    {
                                        toggleSearchSearchResult($(this));

                                        var idStr = $(this).attr('id');

                                        var item = {};

                                        item.id    = $(this).attr('id').split("or-rec-browser-sbi-search-ing-tags-result-ing-")[1];
                                        item.value = $(this).text();

                                        addItem(item, $('#or-rec-browser-sbi-included-ing-input'), $('#or-rec-browser-sbi-excluded-ing-input'), $('#or-rec-browser-group-mode-search-option'));
                                    }
                                }
                            );

                            /* Since all selected search result will be deselected. */
                            $('#or-rec-browser-sbi-search-ing-btn-select-all').text("Select all");
                            selectedAll = false;
                        }
                    }
                );

                /* Selects / deselects a search result. */
                function toggleSearchSearchResult(result)
                {
                    if(result.hasClass('label-info'))
                    {
                        result.removeClass('label-info');
                        result.addClass('label-warning');
                    }
                    else
                    {
                        result.removeClass('label-warning');
                        result.addClass('label-info');
                    }
                }

                function refreshSearchResults()
                {
                    if(!interActionDisabled)
                    {
                        /* Save previously selected states. */
                        var savedStates = {};

                        $('.or-rec-browser-sbi-search-ing-tags-result-ing').each
                        (
                            function()
                            {
                                savedStates[$(this).attr('id')] = $(this).attr('class');
                            }
                        );

                        /* Erase previous results. */
                        $('.or-rec-browser-sbi-search-ing-tags-result-ing').remove();

                        var items  = $('#or-rec-browser-sbi-search-ing-tags').tagsinput('items');

                        if(items.length > 0)
                        {
                            disableInterAction();

                            var queryString = "@controllers.publicly.routes.RecipeBrowser.ingredientsWithTags()";

                            var tagIDs = items[0].id;

                            var i = 0;

                            for(i = 1; i < items.length; i++)
                            {
                                tagIDs += "," + items[i].id;
                            }

                            var isAND     = $('#or-rec-browser-sbi-search-ing-tags-rel-select').val() == 'and';
                            var lanID     = $('#or-rec-browser-sbi-search-ing-tags-language').val();

                            queryString += "?q=" + tagIDs + "&a=" + isAND + "&l=" + lanID;

                            $.ajax
                            (
                                queryString,
                                {
                                    success: function(data, textStatus, jqXHR)
                                    {
                                        var i = 0;

                                        for(i = 0; i < data.length; i++)
                                        {
                                            var resultIng = $('<span id = "or-rec-browser-sbi-search-ing-tags-result-ing-' + data[i].id + '" class = "label label-info or-tags-default or-rec-browser-sbi-search-ing-tags-result-ing">' + data[i].name + '</span>');

                                            resultIng.click
                                            (
                                                function()
                                                {
                                                    toggleSearchSearchResult($(this));
                                                }
                                            );

                                            $('#or-rec-browser-sbi-search-ing-results').append(resultIng);
                                        }

                                        /* Restore saved states. */
                                        $('.or-rec-browser-sbi-search-ing-tags-result-ing').each
                                        (
                                            function()
                                            {
                                                if(savedStates[$(this).attr('id')] != undefined)
                                                {
                                                    if(savedStates[$(this).attr('id')].indexOf('warning') != -1)
                                                    {
                                                        $(this).removeClass('label-info');
                                                        $(this).addClass('label-warning');
                                                    }
                                                }
                                            }
                                        );
                                    },
                                    complete: function(jqXHR, textStatus)
                                    {
                                        enableInterAction();

                                        // TODO: Error handling. Show a popup, if there was a failure.
                                    }
                                }
                            );
                        }
                    }
                }
                
                var ingredientTagsBH = new Bloodhound
                ({
                    remote: 
                    {
                        url: "@controllers.publicly.routes.RecipeBrowser.ingredientTags("")?q=" + "%QUERY",
                        wildcard: "%QUERY"
                    },
                    queryTokenizer: Bloodhound.tokenizers.whitespace,
                    datumTokenizer: Bloodhound.tokenizers.whitespace
                });
                
                ingredientTagsBH.initialize();
                
                
                /* Tags input for search by tags. */
                $('#or-rec-browser-sbi-search-ing-tags').tagsinput
                (
                    {
                        itemValue: "id",
                        itemText:  "text",
                        typeaheadjs:
                        {
                            source: ingredientTagsBH.ttAdapter(),
                            displayKey: "value",
                            valueKey: "value"
                        }
                    }
                );
                
                /* Tagsinput automatically listens to typeahead:selected. Turn it off and use our custom solution. */
                $('#or-rec-browser-sbi-search-ing-tags').tagsinput('input').off("typeahead:selected");

                /* Init typeahead. */
                $('#or-rec-browser-sbi-search-ing-tags').tagsinput('input')
                .on
                (
                    'typeahead:select',
                    $.proxy
                    (
                        function (obj, data)
                        {
                            /* Didn't want to create a separate addition for a single field, so reused addItem. */
                            addItem(data, $('#or-rec-browser-sbi-search-ing-tags'), $('#or-rec-browser-sbi-search-ing-tags'), $('#or-rec-browser-group-mode-search-option'));

                            refreshSearchResults();

                            this.tagsinput('input').typeahead('val', '');
                        },
                        $('#or-rec-browser-sbi-search-ing-tags')
                    )
                );

                /* Register item removed event handler. */
                $('#or-rec-browser-sbi-search-ing-tags').on('itemRemoved', refreshSearchResults);

                /* Changing relation behavior. */
                $('#or-rec-browser-sbi-search-ing-tags-rel-select').change(refreshSearchResults);

                /* Changing search language. */
                $('#or-rec-browser-sbi-search-ing-tags-language').change(refreshSearchResults);
                
                
                /* -- FORM SUBMISSION --------- */

                $('#or-rec-browser-sbi-search').click
                (
                    function()
                    {
                        var items;
                        var i;
                        var j;

                        /* Collect included ingredients */
                        var included = "";

                        items = $('#or-rec-browser-sbi-included-ing-input').tagsinput('items');

                        if(items != undefined && items.length > 0)
                        {
                            for(i = 0; i < items.length - 1; i++)
                            {
                                for(j = 0; j < validGroups.length; j++)
                                {
                                    if(items[i].groups[validGroups[j]])
                                    {
                                        included += validGroups[j] + ":";
                                    }
                                }
                                
                                included += items[i].id + ",";
                            }
                            
                            for(j = 0; j < validGroups.length; j++)
                            {
                                if(items[i].groups[validGroups[j]])
                                {
                                    included += validGroups[j] + ":";
                                }
                            }

                            included += items[i].id;
                        }

                        /* Collect excluded ingredients */
                        var excluded = "";

                        items = $('#or-rec-browser-sbi-excluded-ing-input').tagsinput('items');

                        if(items != undefined && items.length > 0)
                        {
                            for(i = 0; i < items.length - 1; i++)
                            {
                                excluded += items[i].id + ",";
                            }

                            excluded += items[i].id;
                        }

                        /* Set form values. */
                        $("#or-rec-browser-sbi-form-inc-ing").val(included);
                        $("#or-rec-browser-sbi-form-exc-ing").val(excluded);

                        /* Submit form. */
                        $('#or-rec-browser-sbi-form').submit();
                    }
                );
                
                /* Parameter keys. */
                @searchByIngredients_paramsKeys()

                /* Loading cached parameters, if needed. */
                @searchByIngredients_loadCachedParams()

                /* Registering cached params updaters. */
                @searchByIngredients_updateCachedParams()
            }
        );
    </script>
}