@*
*
*  Copyright 2016 Oliver Dozsa
*
*  This program is free software: you can redistribute it and/or modify
*  it under the terms of the GNU General Public License as published by
*  the Free Software Foundation, either version 3 of the License, or
*  (at your option) any later version.
*
*  This program is distributed in the hope that it will be useful,
*  but WITHOUT ANY WARRANTY; without even the implied warranty of
*  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
*  GNU General Public License for more details.
*
*  You should have received a copy of the GNU General Public License
*  along with this program.  If not, see <http://www.gnu.org/licenses/>.
*
*
*@

@()

var SBI_INI_SEARCH_LAN_KEY        = "sbi_ini_sla";
var SBI_INI_SEARCH_MODE_KEY       = "sbi_ini_srm";
var SBI_INI_ITEMS_KEY             = "sbi_ini_itm";

var SBI_EXI_SEARCH_LAN_KEY        = "sbi_exi_sla";
var SBI_EXI_ITEMS_KEY             = "sbi_exi_itm";

var SBI_SIB_SEARCH_RESULT_LAN_KEY = "sbi_sib_srl";
var SBI_SIB_RELATION_KEY          = "sbi_sib_rel";
var SBI_SIB_ITEMS_KEY             = "sbi_sib_itm";